.App {
  text-align: center;
  height:100%;
  overflow: auto; 
}
.App-logo {
  height: 20vmin;
  pointer-events: none;
  border-radius: 50%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 10s ;
  }
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* FOOTER */
.footer{
  flex-shrink:0;
}