body {
  margin: 0;
  height:100%;
  background:#f0f2f5;
}

code {
  font-family: arial, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  height:100%
}

#root{
  height:100%;
  display:flex;
  flex-direction: column;
}
  
/* Footer css */

.footer-container{
  min-height:50px;
  text-align: center;
  padding:30px;
  color:#FFFFFF;
  background: #222429;
  display:flex;
  justify-content: space-between;
}

.social-media-section a{
  padding:15px
}

/* Header Css */

.top-btn-size{
  height:40px;
  margin-right:5px
}


