.card-frame{
    margin:5%;
  }
  .card-content{
    min-height:400px;
    padding:40px;
    background:#fff
    
  }
  .card-content:hover{
    box-shadow: 0px 0px 15px 5px #4b494d; 
    -webkit-box-shadow: 0px 0px 15px 5px #4b494d;;
    -moz-box-shadow: 0px 0px 15px 5px #4b494d;;
}
  .card-description{
    font-size: 20px;
    padding:20px;
    margin-top: 20px;
    text-align: center;

  }
  .slides .slick-prev,
  .slides .slick-next {
    position: absolute;
    top: .1%;
    z-index: 1;
  }
  .slides .slick-prev {
    left: 1%;
  }
  .slides .slick-next {
    right: 3%;
  } 
  .slick-prev:before,
  .slick-next:before
  {
    font-size: 40px;
    line-height: 1;
    opacity: .75;
    color:blue;
  }
 
  .slick-slider .slick-slide {
    padding: 0 15px;
  }


